<h1>Create Blogs</h1>

<%= form_with(model: @comment, url: comments_path) do |form| %>

  <%= form.label :content %>
  <%= form.text_field :content %>

  <%= form.hidden_field :commentable_id,value: current_user.id %>

  

  <%= form.submit "Submit" %>

<% end %>

